main {
    background-color: rgb(49, 27, 10);
    height: 800px;
}

#latest-products {
    width: 80%;
    margin: 50px auto;
}

#img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    margin: 0;
    padding: 0;
}

main h1 {
    text-align: center;
    margin-top: 0;
    padding: 30px 0;
    color: rgb(204, 166, 12);
    font-size: 50px;
}

#img-container li {
    list-style: none;
    text-align: center;
    background-color: beige;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 20px;
}

#img-container img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

#img-container h2 {
    font-size: 2rem;
    font-weight: 700;
}

.btn {
    margin: 40px auto;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(226, 155, 13);
    color: white;
    border-radius: 4px;
}
.btn:hover {
    background-color: rgb(221, 134, 34);
}